.__customButton {
    background-color: #23d838;
    border: none;
    color: white;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
  }
  
  .__customButton:hover {
    background-color: #18e715;
  }